<div class="box">
    <div class="box-header">

        <div class="row">
            <div class="col-sm-4">
                <ob_link><a class="btn" href="{:url('chooseAdd',array('questionid' => $id))}"><i class="fa fa-plus"></i> 新 增</a></ob_link>
            </div>

            <div class="col-sm-8">
                <!--<div class="box-tools search-form pull-right">
                    <div class="input-group input-group-sm">

                        <input type="text" name="search_data" style="width: 200px;" class="form-control pull-right" value="{:input('search_data')}" placeholder="支持标题|描述">

                        <div class="input-group-btn">
                            <button type="button" id="search"  url="{:url('questionItem')}" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
                        </div>

                    </div>
                </div>-->
            </div>
        </div>

    </div>
    <div class="box-body table-responsive">
        <table  class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>选项</th>
                <th>图片</th>
                <th>排序</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>

            {notempty name='list'}
            <tbody>
            {volist name='list' id='vo'}
            <tr>
                <td>{$vo.title}</td>
                <td><img class="admin-list-img-size" src="{$vo.img|get_picture_url}"/></td>
                <td><input type="text" class="sort-th sort-text" href="{:url('setSort')}" id="{$vo.id}" value="{$vo.sort}" /></td>
                <td><ob_link><a class="ajax-get" href="{:url('setChooseStatus', array('ids' => $vo['id'], 'status' => (int)!$vo['status']))}">{$vo.status_text}</a></ob_link></td>
                <td>{$vo.create_time}</td>
                <td class="col-md-2 text-center">
                    <ob_link><a href="{:url('chooseEdit', array('id' => $vo['id'], 'questionid' => $id))}" class="btn "><i class="fa fa-edit"></i> 编辑</a></ob_link>
                    <ob_link><a class="btn confirm ajax-get" href="{:url('chooseDel', array('id' => $vo['id']))}"><i class="fa fa-trash-o"></i> 删 除</a></ob_link>
                </td>
            </tr>
            {/volist}
            </tbody>
            {else/}
            <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
            {/notempty}
        </table>
    </div>
    <div class="box-footer clearfix text-center">
        {$list->render()}
    </div>
</div>