<form action="{:url()}" method="post" class="form_single">
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>问卷名称</label>
                        <span>（所属问卷名称)</span>
                        <select class="form-control" name="questionclassid">
                            <option value="0">请选择</option>
                            {volist name="item" id="vo"}}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>标题</label>
                        <span class="">（问题标题）</span>
                        <input class="form-control" name="name" type="text" value="{$info['name']|default=''}">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>状态</label>
                        <span>（问卷调查状态）</span>
                        <div>
                            <label class="margin-r-5"><input type="radio" name="status" value="1"> 启用</label>
                            <label><input type="radio" checked="checked" name="status"  value="0"> 禁止</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>选项类型</label>
                        <span>（问卷调查状态）</span>
                        <div>
                            <label class="margin-r-5"><input type="radio" name="questiontype" value="1"> 单选</label>
                            <label><input type="radio" checked="checked" name="questiontype"  value="2"> 多选</label>
                        </div>
                    </div>
                </div>


                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>选项</th>
                            <th>图片</th>
                            <th>编辑</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" required name="option[]" class="form-control"></td>
                            <td>{assign name="photo" value="$info.cover_id|default='0'" /}
                                {:widget('file/index', ['name' => 'photo', 'value' => $photo, 'type' => 'img'])}</td>
                            <td>
                                <button type="button" onclick="plus(this)" class="btn btn-info btn-xs">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <button type="button" onclick="lower(this)" class="btn btn-danger btn-xs">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--<div class="col-md-6 box_a">
                    <div class="form-group">
                        <label>选项</label>
                        <span>(最少2个选项)</span>
                        <input class="form-control" name="item[]" placeholder="请输入选项" type="text" value="{$info['item1']|default=''}">

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>图片</label>
                        <span class="">（请上传相对应的图片）</span>
                        <br/>
                        {assign name="photo" value="$info.cover_id|default='0'" /}
                        {:widget('file/index', ['name' => 'photo', 'value' => $photo, 'type' => 'img'])}

                    </div>
                </div>

                <div class="col-md-2" style="margin-top: 37px">
                    <div class="form-group">
                        <button type="button" onclick="plus(this)" class="btn btn-info btn-xs">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <button type="button" onclick="lower(this)" class="btn btn-danger btn-xs">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>

                    </div>
                </div>-->

            </div>
        </div>
        <div class="box-footer">

            <input type="hidden" name="id" value="{$info['id']|default='0'}"/>

            {include file="layout/edit_btn_group"/}
        </div>
    </div>
</form>

<script>
    ob.setValue("questionclassid", {$info.questionclassid|default=0});
    ob.setValue("questiontype", {$info.questiontype|default=1});
    ob.setValue("status", {$info.status|default=1});

    function plus(t) {
        var tr = $(t).parent('td').parent('tr');

        html = tr.clone(true);
        html.find("[name='option[]']").val('')
        html.find("[name='photo[]']").val('')
        tr.after(html)
    }

    function lower(t) {
        var tr = $(t).parent('td').parent('tr');
        var len = tr.parent('tbody').find('tr').length;
        if(len <= 1) {
            return false;
        }else{
            tr.remove();
        }
    }
</script>
