<form action="{:url()}" method="post" class="form_single">
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-3" id="name" {notempty name="info['type']"}{if $info['type']!=1 && $info['type']!=5}hidden{/if} {/notempty}>
                <label>游戏标题</label>
                <input class="form-control" name="name" placeholder="请输入游戏标题名称" value="{$info['name']|default=''}" type="text">
            </div>
        </div>
        <input name="gtype" value="1" hidden>
        <div class="row">
            <div class="form-group col-md-3" >
                <label>应用类型</label>
                <select name="type" class="form-control" id="type">
                    <option value="1" {notempty name="info['type']"}{if condition="$info['type'] eq 1"} selected="selected" {/if}{/notempty}>新人游戏</option>
                    <option value="2" {notempty name="info['type']"}{if condition="$info['type'] eq 2"} selected="selected" {/if}{/notempty}>日常游戏</option>
                    <option value="3" {notempty name="info['type']"}{if condition="$info['type'] eq 3"} selected="selected" {/if}{/notempty}>手游试玩 </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>logo图</label>
                <span class="">（请上传单张应用logo图片）</span>
                <br/>
                {assign name="cover_id" value="$info.cover_id|default='0'" /}
                {:widget('file/index', ['name' => 'cover_id', 'value' => $cover_id, 'type' => 'img'])}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>列表图</label>
                <span class="">（请上传单张列表图）</span>
                <br/>
                {assign name="dphoto" value="$info.dphoto|default='0'" /}
                {:widget('file/index', ['name' => 'dphoto', 'value' => $dphoto, 'type' => 'img'])}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3" id="url">
                <label>外部url</label>
                <input class="form-control" name="url" placeholder="请输入跳转url" value="{$info['url']|default=''}" type="text">
            </div>
            <div class="form-group col-md-3">
                <label>奖励积分</label>
                <input class="form-control" name="score" placeholder="请输入奖励积分" value="{$info['score']|default=''}" type="text">
            </div>
            <div class="form-group col-md-3">
                <label>app端按钮</label>
                <input class="form-control" name="appbtn" placeholder="请输入app端按钮" value="{$info['appbtn']|default=''}" type="text">
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label>是否需要下载</label>
                <span class="">（选择是将会自动添加一个下载的子任务）</span>
                <div>
                    <label class="margin-r-5"><input type="radio" name="gstatus" value="0" {notempty name="info['gstatus']"}{if condition="$info['gstatus'] eq 0"} checked {/if}{/notempty}> 无</label>
                    <label><input type="radio"  name="gstatus"  value="1" {notempty name="info['gstatus']"}{if condition="$info['gstatus'] eq 1"} checked {/if}{/notempty}> 新</label>
                    <label><input type="radio"  name="gstatus"  value="2" {notempty name="info['gstatus']"}{if condition="$info['gstatus'] eq 2"} checked {/if}{/notempty}> 热门</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>应用状态</label>
                    <div>
                        <label class="margin-r-5"><input type="radio" name="gstatus" value="0" {notempty name="info['gstatus']"}{if condition="$info['gstatus'] eq 0"} checked {/if}{/notempty}> 无</label>
                        <label><input type="radio"  name="gstatus"  value="1" {notempty name="info['gstatus']"}{if condition="$info['gstatus'] eq 1"} checked {/if}{/notempty}> 新</label>
                        <label><input type="radio"  name="gstatus"  value="2" {notempty name="info['gstatus']"}{if condition="$info['gstatus'] eq 2"} checked {/if}{/notempty}> 热门</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group" id="describe">
                <div class="form-group">
                    <label>简介</label>
                    <span class="">（游戏描述简介）</span>
                    <textarea class="form-control" name="describe" rows="3" placeholder="请输入游戏描述信息/简介">{$info['describe']|default=''}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>游戏详情轮播图</label>
                <span class="">（请上传多图片）</span>
                <br/>
                {assign name="img_ids" value="$info.img_ids|default=''" /}
                {:widget('file/index', ['name' => 'img_ids', 'value' => $img_ids, 'type' => 'imgs'])}

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>游戏截图</label>
                <span class="">（请上传多图片4张内）</span>
                <br/>
                {assign name="gimg_ids" value="$info.gimg_ids|default=''" /}
                {:widget('file/index', ['name' => 'gimg_ids', 'value' => $gimg_ids, 'type' => 'imgs'])}

            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label>游戏详情</label>
                    <textarea class="form-control textarea_editor" name="content" placeholder="请输入游戏详情">{$info['content']|default=''}</textarea>
                    {:widget('editor/index', array('name'=> 'content','value'=> ''))}
                </div>
            </div>

        </div>
        <div class="box-footer">

            <input type="hidden" name="id" value="{$info['id']|default='0'}"/>

            {include file="layout/edit_btn_group"/}

        </div>

    </div>
    </div>
</form>
<script>
</script>